@import "reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/orange";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.app_v2 {
  background: var(--bg-v2);
  min-height: 100vh;
  font: var(--font-m-v2);
  color: var(--text-v2);
}

.main-container {
  display: flex;
}
