$button-width: 200px;

.container {
  position: relative;
}

.button {
  min-width: $button-width;
  position: relative;
}

.options {
  cursor: pointer;
  min-width: $button-width;
  background: var(--listbox-bg);
  position: absolute;
  left: 0;
  z-index: 10000;
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
}

.option {
  padding: 10px 20px;
  transition: opacity 0.2s ease-in-out;

  &.selected {
    background: var(--secondary-color);
    color: #fff;
  }

  &.focus:not(.selected) {
    background: var(--inverted-secondary-color);
    color: #fff;
    opacity: 0.8;
  }

  &.disabled {
    opacity: 0.4;
  }
}
