.container {
  max-width: 100%;
  position: relative;
  border: 1px solid;
  border-color: var(--primary-color);
  background: var(--code-bg);
  padding: 10px;
}

.containerV2 {
  max-width: 100%;
  position: relative;
  border: 1px solid;
  border-color: var(--accent-v2);
  background: var(--dark-bg-v2);
  padding: 10px;
}

.button {
  position: absolute;
  right: 20px;
  top: 20px;
}

.codeWrapper {
  overflow-y: auto;
}

.copyIcon {
  fill: none;

  path {
    stroke: var(--primary-color);
  }
}

.copyIconV2 {
  position: absolute;
  right: 10px;
  top: 10px;
}
