.icon {
  width: 25px;
  height: 25px;
}

.scrollContainer {
  border-radius: 18px;
  border: 1px solid var(--accent-v2);
  overflow: hidden;
  min-height: 100px;
  max-height: 250px;
  width: 400px;
  overflow-y: auto;
  padding: 4px;
}
