.container {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s ease-in-out;
  flex: 0 0 auto;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.switchers {
  width: 100%;
  position: absolute;
  bottom: 20px;
  padding: 0 20px;
}

.collapseButton {
  position: absolute;
  left: 100%;
  bottom: 40px;
  z-index: 2;
}

.menuContainer {
  margin-top: 20px;
  padding: 0 var(--sidebar-paddings);
}

.containerV2 {
  height: 100%;
  width: var(--sidebar-width-v2);
  background: var(--light-bg-v2);
  border-radius: 32px;
  display: flex;
  flex-direction: column;

  & .menuContainer {
    margin-top: 0;
    flex: 1 0 auto;
  }

  & .switchers {
    position: static;
    margin-bottom: 20px;
  }
}

.logo {
  padding: 0 20px;
}
