.tab {
  padding: 5px;
}

.tab,
.tabV2{
  min-width: 35px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.tabs {
  gap: 10px;
}

.tabsV2 {
  align-items: flex-start;
}
