.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

.sortContainer {
  display: flex;
  justify-content: space-between;
}
