.triggerWrapper {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.menuItems {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: var(--dark-bg-v2);
  z-index: 10000;
  border-radius: 18px;
  box-shadow: 4px 4px 8px var(--dark-bg-v2);
  border: 1px solid;
  border-color: var(--accent-v2);
  outline: none;
  overflow: hidden;
}

.menuItem {
  cursor: pointer;
  padding: 10px 20px;
  transition: color 0.2s ease-in-out;
  color: var(--text-v2);

  &.focus {
    background: var(--light-bg-v2);
  }
}
