$button-width: 200px;

.field {
  width: 100%;
}

.container {
  position: relative;
  width: 100%;
}

.button {
  min-width: $button-width;
  position: relative;
  display: flex;
  align-items: center;
}

.options {
  outline: none;
  overflow: hidden;
  cursor: pointer;
  min-width: $button-width;
  background: var(--dark-bg-v2);
  position: absolute;
  left: 0;
  z-index: 10000;
  border-radius: 18px;
  box-shadow: 4px 4px 8px var(--dark-bg-v2);
}

.option {
  padding: 10px 20px;
  transition: opacity 0.2s ease-in-out;
  color: var(--text-v2);

  &.selected {
    background: var(--light-bg-v2);
  }

  &.focus:not(.selected) {
    background: var(--hint-v2);
    opacity: 0.8;
  }

  &.disabled {
    opacity: 0.4;
  }
}
