.container {
  padding: 24px;
}

.padding-0 {
  padding: 0;
}

.padding-8 {
  padding: 8px;
}

.padding-16 {
  padding: 16px;
}

.padding-24 {
  padding: 24px;
}

.borderRadius-normal {
  border-radius: 12px;
}

.borderRadius-rounded {
  border-radius: 40px;
}

.variant-default {
  background: var(--dark-bg-v2);
}

.variant-outlined {
  border: 1px solid var(--accent-v2);
}

.variant-light {
  background: var(--light-bg-v2);
}
