.container {
  padding: 15px;
  border-radius: 12px;
}

.theme-default {
  background: var(--card-bg);
}

.theme-outlined {
  border: 1px solid var(--primary-color);
}

.theme-outlined_secondary {
  border: 1px solid var(--secondary-color);
}
