.container {
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  padding: 0 20px;
}

.links {
  flex: 1 0 auto;
  display: flex;
  gap: 10px;
  color: var(--inverted-primary-color);
}

.authButton {
  margin-left: auto;
  flex: 0 0 auto;
}

.mainTitle {
  width: calc(var(--sidebar-width) - var(--sidebar-paddings));
  text-align: center;
}
