.view-LIST {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.view-GRID {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fetchMore {
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}
